// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #FFF9F3;


// custom color
$beige: #DFB497;
$dark-green: #22C7A9;
$light-green: #B4E6DA;
$brown: #464444;
$darker-green: #2DB6A3;
$light-grey: #666161;


.expiry-warning {
  color: $orange;
}

.expiry-color {
  color: $red;
}
