.body-fridge{
  background-color: #25C7A9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/assets/green-ellipse.png);
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #464444;
  margin-left: 210px;
  text-align: center;
}

.ingredient-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin-left: 5px;
  margin-top: 10px;
}

.left-card {
  width: 60%;
  background-color: #F3F3F3;;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $light-grey;
  width: 250px;
  // height: 64px;
  left: 16px;
  top: 260px;
  padding: 2px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.right-card {
  margin-left: 3px;
  display: flex;
  width: 35%;
  justify-content: space-between;

}

.ingredients-font{
  font-size: 22px;
  padding: 12px;
}

.container-ingredients{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.expandableCard {
  // height: 140px;
}

#searchbar{
  width: 90vw;
  margin: 0 auto;
  position: absolute;
  height: 35.28px;
  left: 14px;
  top: 33.64px;
background: rgba(255, 249, 243, 0.41);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 15px;
}

.expiry-font{
  padding: 5px;
  font-family: $body-font;
}

.ingredient-card-details {
  margin-top: -11px;
}

.button-action{
  text-decoration: none;
  padding: 5px;
  border-radius: 15px;
  background-color: #B4E6DA;
  color: black;
  margin-left: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: $body-font;
  line-height: 22px;
  text-align: center;
}

.button-round a {
}

.buffer{
  margin-bottom: 70px;
}
