.body-fridge{
  background-color: #25C7A9;
<<<<<<< HEAD
=======

>>>>>>> eaa77fcf0ebc673171cee48405af0cfff1bffb0a
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.ingredient-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin-left: 5px;
  margin-top: 10px;
}

.left-card {
  display: flex;
  width: 60%;
  background-color: #D9D9D9;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.right-card {
  margin-left: 3px;
  display: flex;
  width: 35%;
  justify-content: space-between;

}

.ingredients-font{
  font-size: 22px;
  padding: 5px;
  font-family: 'Poppins';
  font-style: normal;
}

.container-ingredients{
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#searchbar{
  width: 90vw;
  margin: 0 auto;
  border-radius: 15px;
}

.expiry-font{
  padding: 5px;
}

.button-action{
  text-decoration: none;
  // border: 2px solid black;
  padding: 5px;
  border-radius: 15px;
  background-color: #B4E6DA;
  color: black;
  margin-left: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.buffer{
  margin-bottom: 70px;
}
