
.form-size {
  width: 70%;
  font-family: $body-font;
  margin-top: 20px;
  border-radius: 15px;
}

.custom-login {
  margin-left: 15px;
  color: black;
  border-radius: 15px;
}

.container h2{
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #464444;
}

.container{
  margin-top: 100px;
}
