<div class="container py-4 add-container ingredients-new-background">
  <div class="d-flex justify-content-center">
    <%= link_to "<",fridge_path(@fridge), class: 'button-round m-0' %>
    <h2 class="text-end py-4 pe-5">Add your ingredients</h2>
  </div>
  <%= render "form", ingredient: @ingredient, fridge: @fridge %>
</div>
