<div class="container py-4 edit-container">
  <div class="d-flex justify-content-between align-items-start ">
    <div class="button-round">
      <%= link_to "<",fridge_path(@fridge), class: 'button-add' %>
    </div>
    <h2 class="text-center py-4 w-75 pe-5">Add a buddy</h2>
  </div>
  <%= render "form", fridge: @fridge, fridge: @invite_notification %>
</div>
