<div class="container py-4">
  <h2>Invite</h2>
  <%= simple_form_for([@fridge, @invite_notification]) do |f| %>
    <%= f.input :email %>
    <%= f.button :submit, class:'btn-main my-2' %>
    <%= link_to 'Back to all ingredients', root_path, class: 'btn-main my-2' %>
  <% end %>
</div>
