<div class="container py-4 edit-container">
  <div class="d-flex justify-content-between align-items-start ">
    <%= link_to "<",fridge_path(@fridge), class: 'button-round m-0' %>
    <h2 class="text-end py-4 w-75 pe-5">Add a buddy</h2>
  </div>
  <%= render "form", fridge: @fridge, fridge: @invite_notification %>
</div>
