.button-primary {
  color: $light-grey;
  font-family: $body-font;
  padding: 8px 16px;
  background-color: $beige;
  font-size: $base-font-size;
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-secondary {
  color: $light-grey;
  font-family: $body-font;
  background-color: $light-green;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 147px;
  height: 37px;
  left: 106px;
  top: 620px;
  border: none;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  padding: 6px;
}

.button-white {
color: $light-grey;
width: 320px;
height: 70px;
left: 26px;
top: 511px;
background: #F3F3F3;
mix-blend-mode: normal;
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
border-radius: 15px;
}

.button-card{
width: 300px;
height: 120px;
left: 30px;
top: 364px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-round {
  padding: 8px 16px;
  background-color: $beige;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 330px;
  margin-top: 100px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: $light-grey;
  font-family: $body-font;
  font-weight: bolder;
  font-size: 50px;
  display: flex;
    align-items: center;
    justify-content: center;
}

#btn-add {
  width:40px;
  height:40px;
  border-radius:20px;
  padding: 0px;
}
