.edit-container h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #464444;
}

.add-container h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #464444;
}

.form-content {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #464444;
}

.btn-form {
  width: 150px;
  height: 44px;
}

.input-field {
  width: 100%;
  border-radius: 15px;
}

.form-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.form {
  padding: 10px;
}

svg{
  position:fixed;
  top:10px;
  left:180px;
}

.date-input {
  height: 38px !important;
}
