.navbar-body{
  width: 100%;
  height: 80px;
  background-color: #C4C4C4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  position: fixed;
  bottom: 0;
}

.icon{
  height: 40px;
}
